name: CI

on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest
    continue-on-error: ${{ matrix.experimental }}
    strategy:
      fail-fast: false
      matrix:
        emacs-version: ['30.2', 'snapshot']
        include:
          - emacs-version: '30.2'
            experimental: false
          - emacs-version: snapshot
            experimental: true

    steps:
    - uses: actions/checkout@v4

    - uses: purcell/setup-emacs@master
      with:
        version: ${{ matrix.emacs-version }}

    - name: Install Eldev
      uses: emacs-eldev/setup-eldev@v1

    - name: Install dependencies
      run: make prepare

    - name: Lint
      run: make lint

    - name: Compile
      run: make compile

    - name: Test
      run: make test
